.header {
  background-color: #5f7264;
  width: 100%;
  color: #fff;
  position: absolute;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header div {
  display: flex;
}

.header div h1 {
  margin: 0;
}
.header div nav{
  position: absolute;
  right: 0;
  margin-right: 5%;
}
.header div nav ul {
  list-style: none;
  display: flex;
}

.header div nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 3rem;
  font-size: 18px;
}
