.header {
  width: 100%;
  color: #86766C;
  position: absolute;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-left: 3rem;
  
}

.header div {
  display: flex;
}

.header div h1 {
  margin: 0;
  font-weight: normal;
}
.header div nav{
  position: absolute;
  left: 35%;
}
.header div nav ul {
  list-style: none;
  display: flex;
}

.header div nav li{
 
  margin-left: 15%;
}

.header div nav a {
  color: #86766C;
  text-decoration: none;
  margin-right: 3rem;
  font-size: 19px;
}
