.profile{
    position: absolute;
    margin-left: 10rem;
   
}
.main{
    margin-bottom: 10rem;
}

.header {
    width: 100%;
    color: #86766C;
    position: absolute;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem 0rem 5rem;
    
  }
  
  .header div {
    display: flex;
  }
  
  .header div h1 {
    margin: 0;
    font-weight: normal;
    font-family: 'Inter';
  }
  .header div nav{
    height: 100vh;
    left: 70%;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    
  }
  
  .header div nav a {
    position: relative;
    color: #86766C;
    text-decoration: none;
    margin-right: 3rem;
    font-size: 19px;
    font-family: 'Inter';
    
  }
  
  .header div nav a::after{
    content: "";
    position: absolute;
    background-color: #86766C;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
  } 
  
  .header div nav a:hover::after{
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
  }
  