
.main{
  position: absolute;
  width: 100%;
  min-height: 885px; 
  left: 0px;
  top: 701px;
  margin-top: 5rem;
  background: #EBE6E1;
}

.title {
  position: absolute;
  width: 240px;
  height: 53px;
  left: 50%;
  transform: translateX(-50%);
}

.title p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #86766C;
  left: 50%;
  }

.Projects{
    position: absolute;
    top: 13rem;
  }

.Prj{
      display: flex;
      width: 100%;
  }

  .Prj div{
    flex: 2;
    margin-left: -14rem;
    margin-bottom: 2rem;
  }
  

  .content_1{
    position: absolute;
    margin-top: -1rem;
    left: 400px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 146px;
    color: #86766C;
  }


  .content_2{
    width: 1500px;
    height: 181px;
  }

  .content_2 div{
    position: absolute;
    left: 35rem;
  }
  .content_2 div h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    color: #86766C;
  }
  
  .content_2 div h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86766C;
  }
  
  .content_2 div a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 11px;
    color: #86766C;
  }
  