.main_content {
    display: flex;
}

.main_content div{
    flex: 1;
}

.profile_content{
   margin-right: 20rem;
}

.profile_content p{
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 5px;
    color: #86766C;
    font-family: 'Inter';
}

.profile_content .Myname{
    color:#86766C;
    font-size: 45px;
    font-weight: 500;
    line-height: 5px;
    
}

.profile_content  div{
    width: 500px;
}

.profile_content  .MyDescription p{
    margin-top: 2.7rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    text-align: justify;
}

.letsbtn {
    padding-top: 3rem;
}

.letsbtn button{
  
    position: absolute;
    background-color: #D3C7C3;
    border-radius: 10px;
    width: 147px;
    height: 41px;
    border: none;
    left: 355px;
    top: 340px;

    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #86766C;
    font-family: 'Inter';
}

.letsbtn button:hover{
    color:#B6B4B2;
    background-color: #DEDCDC;
    cursor: pointer;
}